@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

header{
    width: 100%;
    height: 95vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url(assets/bg-image.png);
    background-size: 120vw;
    background-position: -19vh -16vw;
    position: relative;
    border-bottom: 6px solid rgba(255, 255, 255, 0.155); 
}

html, body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    max-width: 100%;
}

nav {
    display: flex;
    margin: 0 10%;
    width: 80%;
    height: 12vh;
    align-items: center;
    justify-content: space-between;
}

header nav img {
    width: 9.5vw;
    margin-left: 1.4vw;
}

.navright {
    align-items: center;

}

#lang {
    color: white;
    border-radius: 3px;
    padding: 0.5vh 1vw;
    padding-left: 1.3vw;
    border: 1 solid rgba(255, 255, 255, 0.544);
    background-color: transparent;
    font-size: 1vw;
}

nav a {
    background-color: #ff000d;
    text-decoration: none;
    color: white;
    margin: 0 1vw;
    margin-right: 1.5vw;
    padding: 0.7vh 0.8vw;
    border-radius: 4px;
    font-size: 1vw;
    border: 1px solid #C11119;
}

nav a:hover {
    background-color: #bd1820;
}

.homepage {
    width: 100%;
    height: 86vh;
}

.center-text {
    width: 60vw;
    text-align: center;
    margin: 4vh 20vw;
    margin-top: 29vh;
}

.center-text h1 {
    color: white;
    font-size: 3.3vw;
    font-style: bolder;
}

.center-text h3 {
    margin: 1vw;
    color: white;
    font-size: 1.7vw;
    font-weight: 100;
}

.center-text h4 {
    color: white;
    margin-top: 1vh;
    font-size: 1.6vw;
    font-weight: 100;
}

.enter-start {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    margin-top: 2vh;
}

.enter-start input {
    background-color: rgba(0,0,0,0.5);
    border-radius: 3px;
    color: white;
    padding: 1vw 1.4vw;
    padding-right: 11vw;
    font-size: 1vw;
    border: 0.1px solid rgba(255, 255, 255, 0.415);
}

.enter-start .btn a {
    background-color: rgb(255, 0, 51);
    text-decoration: none;
    color: white;
    border: 1px solid crimson;
    border-radius: 3px;
    padding: 0.8vw 1vw;
    font-size: 1.3vw;
    font-weight: 600;
    letter-spacing: 0.05vw;
}

.btn a:hover {
    background-color: #bd1820;
}

.second-page {
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 75vh;
    background-color: black;
    display: flex;
    border-bottom: 6px solid rgba(255, 255, 255, 0.155);
}

.second-text {
    color: white;
    width: 35vw;
    height: 20vh;
}

.second-text h1 {
    font-size: 3.1vw;
    font-weight: 900;
    
}

.second-text p {
    margin-top: 2vh;
    font-size: 1.7vw;
    font-weight: 100;
}

.second-page .second-img img {
    width: 36vw;
}

.third-page {
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 75vh;
    background-color: black;
    display: flex;
    border-bottom: 6px solid rgba(255, 255, 255, 0.155);
}

.third-text {
    color: white;
    width: 38vw;
    height: 20vh;
}


.third-text h1 {
    font-size: 3.1vw;
    font-weight: 900;
    
}

.third-text p {
    margin-top: 2vh;
    font-size: 1.7vw;
    font-weight: 100;
}

.third-page .third-img img {
    width: 36vw;
}

.fourth-page {
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 75vh;
    background-color: black;
    display: flex;
    border-bottom: 6px solid rgba(255, 255, 255, 0.155);
}

.fourth-text {
    color: white;
    width: 35vw;
    height: 20vh;
}

.fourth-text h1 {
    font-size: 3.1vw;
    font-weight: 900;
    
}

.fourth-text p {
    margin-top: 2vh;
    font-size: 1.7vw;
    font-weight: 100;
}

.fourth-page .fourth-img img {
    width: 36vw;
}

.fipth-page {
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 75vh;
    background-color: black;
    display: flex;
    border-bottom: 6px solid rgba(255, 255, 255, 0.155);
}

.fipth-text {
    color: white;
    width: 38vw;
    height: 20vh;
}

.fipth-text h1 {
    font-size: 3.1vw;
    font-weight: 900;
}

.fipth-text p {
    margin-top: 2vh;
    font-size: 1.7vw;
    font-weight: 100;
}

.fipth-page .fipth-img img {
    width: 36vw;
}


.footer {
    background-color: black;
    padding-top: 8vh;
  }

.footer p {
    color: #c7c7c7;
    font-size: 1.2vw;
    padding-left: 11vw;
}

.footer p>span {
    text-decoration: underline;
}

.section__container__footer__container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5vh;
    margin-left: -10vw;
    line-height: 5vh;
}

.footer__col li {
    list-style: none;
  }

.footer__col a {
    color: #c7c7c7;
    text-decoration: underline;
    font-size: 1vw;
    margin-bottom: 1rem;
    cursor: pointer;
    width: 10vw;
    transition: 0.3s;
}
  
.footer__col a:hover {
    color: rgb(255, 255, 255);
}

  .footer__co2 li {
    list-style: none;
}


.footer__co2 a {
    color: #c7c7c7;
    text-decoration: underline;
    font-size: 1vw;
    margin-bottom: 1rem;
    cursor: pointer;
    width: 10vw;
    transition: 0.3s;
}
  
.footer__co2 a:hover {
    color: rgb(255, 255, 255);
}

.footer__co3 li {
    list-style: none;
}

.footer__co3 a {
    color: #c7c7c7;
    text-decoration: underline;
    font-size: 1vw;
    margin-bottom: 1rem;
    cursor: pointer;
    width: 10vw;
    transition: 0.3s;
}
  
.footer__co3 a:hover {
    color: rgb(255, 255, 255);
}

.bar-lang {
    background-color: black;
    color: white;
    padding: 6vh 11vw;
}

.bar-lang p {
    color: #c7c7c7;
    margin-top: 3vh;
    font-size: 1vw;
}

.footer__bar {
    background-color: black;
    max-width: var(--max-width);
    margin: auto;
    padding: 0.5rem;
    text-align: center;
    font-size: 0.8rem;
    color: white;
    border-top: 1px solid var(--text-light);
}

@media (max-width:600px) {



    nav {
        width: 100%;
        height: 7vh;
        margin: 0;
    }

    .header {
        height: 75vh;
    }

    header nav>img {
        width: 25vw;
        padding-left: 3vw;
    }

    .navright {
        margin-right: 2vw;
    }

    .navright #lang {
        font-size: 3vw;
    }

    .navright>a {
        font-size: 3vw;
        padding: 0.7vh 2vw;
    }

    .homepage {
        height: 25vh;
    }

    .center-text {
        width: 100%;
        height: 15vh;
        margin-left: 0;
        margin-top: 20vh;
        margin-bottom: 0;
    }

    .center-text h1 {
        font-size: 6vw;
    }

    .center-text h3 {
        font-size: 4vw;
    }

    .center-text h4 {
        font-size: 3vw;
    }

    .enter-start {
        height: 6vh;
    }

    .enter-start input {
        font-size: 3vw;
        padding: 0.9vh 2.2vw;
    }

    .enter-start .btn {
        margin-bottom: 0.2vh;
    }

    .enter-start .btn a {
        font-size: 3.3vw;
        padding: 0.76vh 1vw;
    }

    .second-page {
        display: block;
        height: auto;
        gap: 25vh;
    }

    .second-img {
        text-align: center;
        height: 17vh;
        width: 100%;
        margin-top: 4vh;
    }

    .second-img>img {
        height: 14vh;
        width: 100%;
    }

    .second-text {
        width: 100%;
        height: 10vh;
        padding-top: 20vh;
        text-align: center;
    }

    .second-text h1 {
        font-size: 7vw;
    }

    .second-text p {
        font-size: 4vw;
    }
    
    .third-page {
        display: block;
        height: auto;
        gap: 25vh;
    }

    .third-img {
        text-align: center;
        height: 17vh;
        width: 100%;
        padding-top: 20vh;
    }

    .third-img>img {
        height: 14vh;
        width: 100%;
    }

    .third-text {
        width: 90%;
        height: 10vh;
        padding-top: 1vh;
        margin-left: 5vw;
        text-align: center;
    }

    .third-text h1 {
        font-size: 7vw;
    }

    .third-text p {
        font-size: 4vw;
    }
    
    .fourth-page {
        display: block;
        height: auto;
        gap: 25vh;
    }

    .fourth-img {
        text-align: center;
        height: 17vh;
        width: 100%;
        padding-top: 4vh;
    }

    .fourth-img>img {
        height: 14vh;
        width: 100%;
    }

    .fourth-text {
        width: 90%;
        height: 10vh;
        padding-top: 20vh;
        margin-left: 5vw;
        text-align: center;
    }

    .fourth-text h1 {
        font-size: 7vw;
    }

    .fourth-text p {
        font-size: 4vw;
    }

    .fipth-page {
        display: block;
        height: auto;
        gap: 25vh;
    }

    .fipth-img {
        text-align: center;
        height: 17vh;
        padding-top: 20vh;
        width: 100%;
    }

    .fipth-img>img {
        height: 15vh;
        width: 100%;
    }

    .fipth-text {
        width: 90%;
        height: 10vh;
        padding-top: 1vh;
        text-align: center;
        margin-left: 5vw;
    }

    .fipth-text h1 {
        font-size: 7vw;
    }

    .fipth-text p {
        font-size: 4vw;
    }

    .footer {
        background-color: black;
        padding-top: 3vh;
      }
    
    .footer p {
        color: #c7c7c7;
        font-size: 3vw;
        padding-left: 11vw;
    }
    
    .footer p>span {
        text-decoration: underline;
    }
    
    .section__container__footer__container {
        display: flex;
        justify-content: space-evenly;
        margin-top: 3vh;
        margin-left: 1vw;
        line-height: 3vh;
    }
    
    .footer__col li {
        list-style: none;
      }
    
    .footer__col a {
        color: #c7c7c7;
        text-decoration: underline;
        font-size: 3vw;
        margin-bottom: 1rem;
        cursor: pointer;
        width: 7vw;
        transition: 0.3s;
    }
      
    .footer__col a:hover {
        color: rgb(255, 255, 255);
    }
    
      .footer__co2 li {
        list-style: none;
    }
    
    
    .footer__co2 a {
        color: #c7c7c7;
        text-decoration: underline;
        font-size: 3vw;
        margin-bottom: 1rem;
        cursor: pointer;
        width: 7vw;
        transition: 0.3s;
    }
      
    .footer__co2 a:hover {
        color: rgb(255, 255, 255);
    }
    
    .footer__co3 li {
        list-style: none;
    }
    
    .footer__co3 a {
        color: #c7c7c7;
        text-decoration: underline;
        font-size: 3vw;
        margin-bottom: 1rem;
        cursor: pointer;
        width: 7vw;
        transition: 0.3s;
    }
      
    .footer__co3 a:hover {
        color: rgb(255, 255, 255);
    }
    
    .bar-lang {
        background-color: black;
        color: white;
        padding: 2.5vh 7.5vw;
    }

    .bar-lang #lang {
        font-size: 2.5vw;
    }
    
    .bar-lang p {
        color: #c7c7c7;
        margin-top: 1.5vh;
        font-size: 3vw;
    }
    
    .footer__bar {
        background-color: black;
        max-width: var(--max-width);
        margin: auto;
        padding: 0.5rem;
        text-align: center;
        font-size: 2.5vw;
        color: white;
        border-top: 1px solid var(--text-light);
    }

}